html {
  background-color: #d3d3d3;
}

body {
  height: 100%;
  margin: 0;
}

footer {
  height: 100px;
  margin-top: -100px;
}

.wrapper {
  min-height: 100%;
}

.App {
  text-align: center;
  padding-bottom: 100px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

/* Game Area */
.game {
  margin-bottom: 50px;
  height: auto;
  display: flex;
  justify-content: center;
}

/* Map */
.map {
  margin: 0;
  padding-left: 120px;
}
.default {
  opacity: 0;
}
.wall {
  background-color: black;
  box-shadow: 1px 1px 1px black;
}
.player {
  background-color: green;
  box-shadow: 2px 2px 1px black;
  border-radius: 50%;
}
.enemy {
  background-color: orange;
  box-shadow: 2px 2px 1px black;
  border-radius: 50%;
}
.boss {
  background-color: red;
  box-shadow: 2px 2px 1px black;
  border-radius: 50%;
}

/* Side Box */
.side {
  width: 100px;
  margin-left: 20px;
}

.top {
  height: 20px;
  width: 100%;
}